name: EvilHack

on:
  push:
    branches: [ master ]
    tags:
      - '*' # won't work on tags containing /
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux-build:
    runs-on: ubuntu-24.04
    env:
      HINTS_FILE: linux-debug.gha
    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: ./sys/unix/setup.sh sys/unix/hints/$HINTS_FILE
    - name: make all
      run: make all
    - name: make install
      run: make install
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: evilhack-linux
        path: ~/evilhackdir/
        retention-days: 30

  mac-build:
    runs-on: macos-latest
    env:
      HINTS_FILE: macosx10.14
    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: ./sys/unix/setup.sh sys/unix/hints/$HINTS_FILE
    - name: make all
      run: make all
    - name: make install
      run: make install
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: evilhack-macos
        path: ~/evilhackdir/
        retention-days: 30

  windows-build:
    runs-on: windows-latest
    env:
        YACC: win_bison -y
        LEX: win_flex.exe
        YTABC: y.tab.c
        YTABH: y.tab.h
        LEXYYC: lex.yy.c
        ADD_CURSES: Y
        PDCURSES_TOP: ../../pdcurses
        TRAVIS_COMPILER: 1
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: ilammy/msvc-dev-cmd@v1 # enable visual c compiler / nmake
    - name: setup
      run: |
        choco install winflexbison
        git clone --depth 1 https://github.com/wmcbrine/PDCurses.git ../pdcurses
        ./sys/winnt/nhsetup.bat
    - name: make install
      run: |
        cp ./sys/winnt/Makefile.msc ./Makefile
        cd src
        nmake install
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: evilhack-windows
        path: binary/
        retention-days: 30
    - uses: thedoctor0/zip-release@0.7.6
      if: startsWith(github.ref, 'refs/tags/')
      with:
        type: 'zip'
        path: binary/
        filename: evilhack-${{ github.ref_name }}.zip
    - name: release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          evilhack-${{ github.ref_name }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

